@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

#root{
  display: flex;
  justify-content: center;
}

.wrapper{
  margin-top: 20%;
  @include m.desktop{
   
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:5%;
  margin-top: 15%;
  width: 80%;
 
  }
.container {
    width: 80%;
    margin-left: 10%;
  margin-top: 5%;
  @include m.desktop{
    width:25%;
    margin-left: 0%;
  }
  
  


  &__link {
    text-decoration: none;

    &__card {
      
      gap: 10px;
      background-color: v.$section;
      margin: 5%;
      

      // display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 5px;
      margin: 2%;
        @include m.desktop{
          flex-direction: row;
          gap:10%;
          margin-top: 5%;
          
        }

      &__name {
        font-family: v.$title;
        font-size: 1.5rem;
        color: #000;
        text-align: center;
        padding: 10px;
      }

      &__wrapper {
        &__img {
          width: 90%;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          margin-left: 5%;
        }
      }
    }
  }
}
}