@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.container {
  background-color: v.$section;

  &__link {
    text-decoration: none;

    &__card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      width: 20%;
      // display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 5px;
      margin: 2%;

      &__name {
        font-family: v.$title;
        font-size: 1.5rem;
        color: #000;
        text-align: center;
        padding: 10px;
      }

      &__wrapper {
        &__img {
          width: 100%;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
      }
    }
  }
}
