$desktop: 1200px;
$table: 768px;


//färger
$bg: #C4AD83;
$section: #F3ECDF;
$text-color: #46320C;
$dark-green: #5E614C;
$icon: #809259;
$light-green: #BABF95;

 //typsnitt
 $title: Georgia, Times, Times New Roman, serif;
 $reg-text: Avenir, serif;

$side-pillar: 96px;
$section-height: 339px;
$section-width: 288px;
