@use "src/style/variables" as v;
@use "src/style/mixins" as m;


*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


body{
  background-color: v.$bg;
  font-family: v.$reg-text;
}


html{
 scroll-behavior: smooth;
}